<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>public</id>
      <username>eits-gpd-applify</username>
      <password>AP3hqAMDeqHWYGVpwaruoc35XvQypuYY74Gsw5</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>public</id>
      <mirrorOf>*</mirrorOf>
      <url>https://artifacts.experian.local/artifactory/public-repositories/</url>
    </mirror>
  </mirrors>
</settings>
